.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  color: cornflowerblue;
  background-color: aqua;
  font-size: min(5vh, 5vw);
  padding: min(2vh, 2vw);
  border-radius: min(2vh, 2vw);
  cursor: pointer;
}

.button-clicked {
  background-color: rgb(30, 30, 43);
  color: gray;
  cursor: default;
}

.button:not(.button-clicked):hover, .button:not(.button-clicked):focus {
  background-color: cornflowerblue;
  color: aqua;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: aqua;
}

#tic-tac-toe-header {
  font-weight: 700;
  font-size: min(20vh, 20vw);
  text-align: center;
  margin: 0;
}

#join-game-UI {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

#name-input-label {
  color: aqua;
  display: flex;
  justify-content: center;
  font-size: min(10vh, 10vw);
}

#name-input {
  width: 80%;
  font-size: min(5vh, 5vw);
  margin: min(1vh, 1vw);
}

#join-game-button {
  margin-top: min(2vh, 2vw);
}

#game-header-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}

#game-header {
  font-size: min(7vh, 7vw);
}

#game-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  font-size: min(15vh, 15vw);
}

#cell0 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell1 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell2 {
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell3 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell4 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell5 {
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell6 {
  border-right: min(1vh, 1vw) solid aqua;
}

#cell7 {
  border-right: min(1vh, 1vw) solid aqua;
}

#notification-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#notification-text-area {
  display: flex;
  font-size: min(6vh, 6vw);
  align-items: start;
}

#notification {
  margin: min(3vh, 3vw);
}

#notification-button-area {
  display: flex;
  gap: min(5vh, 5vw);
  white-space: nowrap;
}
