.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

body {
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: aqua;
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#ticTacToeHeader {
  font-weight: 700;
  font-size: min(20vh, 20vw);
  text-align: center;
  margin: 0;
}

#joinGameUI {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
}

#nameInputLabel {
  color: aqua;
  display: flex;
  justify-content: center;
  font-size: min(10vh, 10vw);
}

#nameInput {
  width: 80%;
  font-size: 30px;
  margin: 3px;
}

#joinGameButton {
  display: flex;
  justify-content: center;
  color: cornflowerblue;
  background-color: aqua;
  width: 50%;
  font-size: min(5vh, 5vw);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#joinGameButton:hover {
  background-color: cornflowerblue;
  color: aqua;
}

#gamePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#gameHeaderDiv {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameHeader {
  font-size: min(7vh, 7vw);
}

#gameArea {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#gridContainer {
  height: 80%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cell1 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell2 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell3 {
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell4 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell5 {
  border-right: min(1vh, 1vw) solid aqua;
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell6 {
  border-bottom: min(1vh, 1vw) solid aqua;
}

#cell7 {
  border-right: min(1vh, 1vw) solid aqua;
}

#cell8 {
  border-right: min(1vh, 1vw) solid aqua;
}